body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgb(40, 144, 172),rgba(10, 225, 142, 0.8));
    /* background-color: rgb(187, 226, 226); */
}

img {
    width: 150px;
    align-items: center;
    padding-bottom: 10px;
}

label {
    font-size: 20px;
}

form {
    width: 60%;
    margin: auto;
}

.col-2 {
    height: 100vh;
}

.container {
    width: 30rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid;
    padding: 2rem;
    margin-top: 9em;

}

.valid{
    justify-content: center;
}